# Folders
/presentation/*
/new_data
/parms_pc
/results
/scripts/multithread
/build
/parms
/data
.vscode


# Ignore parms to run multithread in PC
parms_pc_*/

# Ignore all shell scripts
scripts/*.sh
scripts/python/*.sh

/data_2

# Files
/scripts/run_all_script.txt

# Ignore all folders
*.pyc



