# Folders
__pycache__/

/new_data
/parms_pc
/results
/data_teste
/scripts/multithread
/build
/parms
/data
.vscode
/results/Network
/data_new

# Ignore parms to run multithread in PC
parms_pc_*/

# Ignore all shell scripts
scripts/*.sh
scripts/python/*.sh

/data_2

# Files
/scripts/run_all_script.txt




